body {
  top: 0; bottom: 0; left: 0; right: 0;
  margin: 0; padding: 0;
  overflow-x: hidden;
}

h3 {
  font-size: 24px;
}

p {
  margin: 0 0 1em 0;
  font-size: 16px;
  text-align: left !important;
}

a {
  text-decoration: none;
}

a:link {
  color: #000;
  font-weight: bold;
}

a:visited {
  color: #000;
  font-weight: bold;
}

a:hover {
  color: #777;
  font-weight: bold;
}

#header {
  height: 150px;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background-color: rgba(224,224,224,1);
  opacity: 0;
}

#header-links {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}

.header-link {
  display: inline-block;
  margin-right: 5vw;
}

#drawing {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255,255,255,1);
  pointer-events: none;
  transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  -ms-transition: background-color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -webkit-transition: background-color 0.5s ease-in;
}

.buffer {
  height: 25vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw;
  margin-bottom: 5vh;
  transition: height 0.25s ease-in;
  -o-transition: height 0.25s ease-in;
  -ms-transition: height 0.25s ease-in;
  -moz-transition: height 0.25s ease-in;
  -webkit-transition: height 0.25s ease-in;
}

.b1 {
  background-image: url('img/background.jpg');
}

.b2 {
  background-image: url('img/background2.jpg');
}

.b3 {
  background-image: url('img/background3.jpg');
}

.section {
  width: 50vw;
  margin-left: 25vw;
  margin-bottom: 5vw;
  transition: margin-left 0.25s ease-in;
  -o-transition: margin-left 0.25s ease-in;
  -ms-transition: margin-left 0.25s ease-in;
  -moz-transition: margin-left 0.25s ease-in;
  -webkit-transition: margin-left 0.25s ease-in;
}

.column-container {
  display: table;
  width: 100%;
}

.column-container .column {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
}

.column-container .content {
  width: 60%;
}

.column-container .side {
  width: 30%;
}

.column-container .third {
  width: 30%;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 2%;
  border-radius: 15px;
  text-align: center;
}

.column-container .third i {
  font-size: 75px;
  line-height: 75px;
}

.column-container .third-spacer {
  width: 1%;
}

#left-menu {
  position: fixed;
  top: 160px;
  left: 0;
  width: 10%;
  opacity: 1;
  transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  -ms-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
}

.left-menu-item {
  width: 100px;
  left: -50px;
  height: 50px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  transition: left 0.1s ease-in;
  -o-transition: left 0.1s ease-in;
  -ms-transition: left 0.1s ease-in;
  -moz-transition: left 0.1s ease-in;
  -webkit-transition: left 0.25s ease-in;
}

.left-menu-item i {
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  float: right;
  margin-right: 2px;
}

.github {
  background-color: #000;
}

.twitter {
  background-color: #55acee;
}

.dribbble {
  background-color: #ea4c89;
}

.left-menu-item:hover {
  left: -25px;
}

@media all and (max-width: 1024px) {
  #header {
    display: none;
  }

  .section {
    margin-left: 5vw;
    width: 90vw;
  }

  .column-container {
    display: block;
  }

  .column-container .column {
    display: inline-block;
    width: 100%;
  }

  .column-container .third {
    width: 100%;
    border: none;
    text-align: left;
  }

  #drawing {
    opacity: 0;
  }

  #left-menu {
    opacity: 0;
  }

  .buffer {
    height: 20vh;
    background-size: auto 100vh;
    background-position: center;
  }
}

#footer {
  width: 80vw;
  background-color: #ccc;
  padding-left: 20vw;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -5vh;
}

#footer p {
  font-size: 12px;
}

#chev-down {
  position: fixed;
  z-index: 1001;
  top: 90vh;
  width: 100vw;
  text-align: center;
  transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
}

#chev-down i {
  font-size: 50px;
  opacity: 1;
  color: #888;
}
