html {
  height: 100%;
}

body {
  background: url("VULPINE_LOGO_2.png") #7CD3C6 right 0% no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: 0; padding: 0;
}

p, h1, h2, h3 {
  font-family: 'Noto Sans', sans-serif;
}

#menu {
  background-color: #cccccc;
  width: 100px;
  height: 100%;
}

#twitter-button {
  background-color: #3cf;
}

#github-button {
  background-color: #111;
}

#keybase-button {
  background-color: #FF8648;
}

#whatcolorisit-link {
  background-color: #aa4444;
}

.centered {
  text-align: center;
}

.button {
  height: 100px;
  width: 100%;
}

.fill {
  height: 100%;
  width: 100%;
  line-height: 100px;
}

a {
  color: white;
}

a:hover {
  color: black;
}