body {
    margin: 0; padding: 0;
    top: 0; left: 0; bottom: 0; right: 0;
}

#content-wrapper {
    position: absolute;
    top: 0; left: 0;
    z-index: 100;
    width: 100vw; height: 100vh;
    text-align: center;
    pointer-events: none;
}

#content {
    display: inline-block;
    width: 30vw; height: 90vh;
    padding-left: 5vw; padding-right: 5vw;
    padding-top: 10vh;
    background-color: white;
    pointer-events: all;
    border-left: 2px solid black; border-right: 2px solid black;
}

#content img {
    display: inline-block;
    width: 25vh; height: 25vh;
    padding-top: 5vh; padding-bottom: 5vh;
}

path:first-child {
    fill: black;
}

.social-button {
    display: inline-block;
    background-color: black;
    height: 64px; width: 64px;
    font-size: 48px;
    margin-right: 8px;
    transition: background-color 0.25s ease-in;
    margin-top: 8px;
}

.social-button:hover {
    background-color: white;
}

.social-button i {
    position: relative;
    color: white;
    top: 45%; transform: translateY(-50%);
    transition: color 0.25s ease-in;
}

.social-button:hover i {
    color: black;
}

h1 {
    margin-top: 0;
    font-weight: 400;
}

h4 {
    font-weight: 300;
}

svg {
    position: fixed;
    z-index: 10;
    left: 0; top: 0;
}

path {
    fill: rgba(255,255,255,0);
    stroke: black;
}

.sbe i {
    font-size: 42px;
    margin-top: -3px;
    top: 35%;
}

@media screen and (max-aspect-ratio: 1/1) {
    body { background-color: black; }
    #content { width: 70vw; }
}

@media screen and (max-aspect-ratio: 1/2) {
    .social-button { width: 100%; }
}

@media screen and (max-aspect-ratio: 1/3) {
    #content img { width: 100%; height: auto; }
}
